.image_block {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vh;
}

.image_block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0.6;
}

.image_block img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:absolute;
    z-index: 1;
}

.search_block_title{
    position: absolute;
    margin-top: 20vh;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: center;
}
.title_text{
    width: 66vh;
}
.search_block_title .title_text p{
    font-family: Inter;
    font-size: 3vw;
    font-weight: 500;
    color: white;
    line-height: 1.5;
    margin: 0;
}

.search_block{
    height: 10vh;
    position: absolute;
    margin-top: 50vh;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: center;
}
.search_block form{
    width: 140vh;
    height: 10vh;
    background-color: white;
    border-radius: 1vh;
    display: flex;

}
.search_block form input{
    width: 30vh;
    height: 5vh;
    margin-top: 3vh;
    border-radius: 1vh;
    border: none;
    outline: none;
    /* border-right: solid 0.2vh rgb(121, 121, 121); */
}
.departure, .arrival{
    width: 80vh;
    height: 10vh;
    border-right: solid 0.2vh rgb(145, 145, 145);
}
.date{
    width: 70vh;
    height: 10vh;
    border-right: solid 0.2vh rgb(145, 145, 145);
}
.search_block form input[type="text"]{
    font-size: 1.2vw;
    font-family: Inter;
    margin-left: 1vh;
}
.search_block form label{
    position: absolute;
    font-size: 0.8vw;
    margin-left: 1vh;
    margin-top: 1vh;
    font-family: Inter;
    color: rgb(134, 134, 134);
}
.date_text[type="date"]{
    font-size: 1.3vw;
    margin-left: 1.2vh;
    padding-right: 2vh;
}
.button_search{
    width: 90%;
    height: 100%;
}
.button_search button{
    width: 100%;
    height: 100%;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    border: none;
    background-color: rgb(249, 37, 63);
    transition:  0.4s ease;
}
.button_search button p{
    color: white;
    font-size: 1.2vw;
    font-size: Inter;
    font-family: 400;
}
.button_search button:focus{
    background-color: rgb(161, 5, 23);
}


.content_block{
    margin-top: 17vh;
    
}
.content_block p, h1{
    font-family: Inter;
}
.block_prew h1{
    font-size: 1.5vw;
}
.block_prew p{
    font-size: 1.3vw;
}
.content_block img{
    width: 10vh;
    padding: 2vh;
    background-color: rgb(240, 240, 240);
    border-radius: 1vh;
}
.block_prew{
    padding: 10vh;
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-wrap: nowrap;
    gap: 10vh;
    justify-content: center;
    align-items: center;
}
.block_prew .clock, .road, .card, .ticket{
    width: 40vh;
}


.schedule_title{
    margin-right: 5vh;
    text-align: center;
    margin-bottom: 10vh;
}
.schedule_title h1{
    font-size: 2vw;
}
.schedule{
    margin-top: 10vh;
}
.schedule_races{
    display: flex;
    justify-content: center;
    margin-bottom: 50vh;
}
.spisok{
    /* width: 100vh; */
}
.route_block{
    box-shadow: 3px 2px 6px #aeaeae;
    width: 140vh;
    /* height: 40vh; */
    border-radius: 2vh;
    margin-bottom: 5vh;

    font-family: Inter;
    font-size: 1vw;
}
.race_inf{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.route_time_inf{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 26%; */
}
.departure_time{
    font-size: 1.9vw;
    line-height: 0;
}
.duration{
    font-size: 1vw;
    height: 5vh;
}
.duration p{
    margin-top: 0.8vh;
    color: #969696;
}
.arrival_time{
    font-size: 1.9vw;
    line-height: 0;
}
.date_inf {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 22%; */
    line-height: 0;
}
.departure_date, .arrival_date{
    line-height: 0;
    margin: 0;
}
.address_block{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
    /* line-height: 0; */
}
.distance{
    color: #969696;
}
.origin_address , .arrival_address{
    font-size: 1.6vw;
    width: 10vh;
}
.address{
    width: 15vh;
    height: 7vh;
    /* position: absolute; */
    font-size: 0.8vw;
    margin-top: -3vh;
}
.address p{
    
}
.brand_name{
    
}
.bus_info{
    /* width: 100vh; */
    display: flex;
    gap: 2vh;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.bus_info p{
    font-size: 1.1vw;
}
.button{
    padding: 3vh;
}
.button a{
    padding: 3vh;
    background-color: rgb(249, 37, 63);
    color: white;
    text-align: center;
    border-radius: 2vh;
    margin-top: 2vh;
    text-decoration: none;
    display: block;
    width: 30vh;
}
.button a:focus{
    background-color: rgb(161, 5, 23);
}
.line{
    width: 39%;
    position: absolute;
    display: flex;
    align-items: center;
}
.square{
    width: 2vh;
    height: 2vh;
    border-radius: 100%;
    background-color: rgb(249, 37, 63);
}
.red_line{
    width: 100%;
    height: 0.5vh;
    background-color: rgb(249, 37, 63);
}
.strela {
    position: relative; /* Устанавливаем позиционирование */
    display: inline-block; /* Размещаем элемент в строчной модели */
    width: 2vh;/* Ширина стрелки */
    height: 2vh; /* Высота стрелки */
}

.strela::after {
    content: ''; /* Добавляем пустое содержимое */
    position: absolute; /* Абсолютное позиционирование относительно родителя */
    top: 50%; /* Располагаем по вертикали на 50% */
    /* Располагаем справа от родительского элемента */
    transform: translateY(-50%); /* Выравниваем по вертикали */
    width: 0; /* Начальная ширина */
    height: 0; /* Начальная высота */
    border-top: 1vh solid transparent; /* Верхняя граница (стрелка) */
    border-bottom: 1vh solid transparent; /* Нижняя граница (стрелка) */
    border-left: 1vh solid rgb(249, 37, 63); /* Левая граница (стрелка) */
}
.block_check{
    margin-bottom: 2vh;
    width: 100%;
}
.available_seats p{
    font-size: 1.3vw;
}