{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load custom_filters %}
<head>
    <link rel="stylesheet" href="{% static 'css/main_page_css.css' %}">
    <link rel="stylesheet" href="{% static 'css/bus_routes_css.css' %}">
</head>

<div class="main_block">
    <div class="image_block">
        <img src="{% static 'images/bus-tour-01.jpg' %}" alt="">
        <div class="search_block_title">
            <div class="title_text_search">
                <p>Билеты на автобус</p>
                <h1>{{ departure }} - {{ arrival }}</h1>
            </div>
        </div>
        <div class="search_block">
            <form action="{% url 'search_routes' %}" method="post">
                {% csrf_token %}
                <div class="departure">
                    <label for="departure">Откуда</label>
                    <input type="text" name="departure" id="input_text" value="{{ departure }}">
                </div>
                <div class="arrival">
                    <label for="input_text">Куда</label>
                    <input type="text" name="arrival" id="input_text" value="{{ arrival }}">
                </div>
                <div class="date">
                    <label for="input_text">Дата поездки</label>
                    <input class="date_text" type="date" name="date" id="input_text" value="{{ date }}">
                </div>
                <div class="button_search">
                    <button type="submit"><p>Найти</p></button>
                </div>
            </form>
        </div>
    </div>
    <div class="schedule">
        <div class="schedule_title">
            <h1>Расписание рейсов {{ departure }} - {{ arrival }} на {{ formatted_date }}</h1>
        </div>
        <div class="schedule_races">
            {% if routes %}
                <div class="spisok">
                    {% for route in routes %}
                        <div class="route_block">
                            <div class="race_inf">
                                <div class="route_time_inf">
                                    <div class="departure_time">
                                        <p>{{ route.route.departure_time|time }}</p>

                                    </div>
                                    <div class="duration">
                                        <p>{{ route.route.duration }} часов в пути</p>
                                    </div>
                                    <div class="arrival_time">
                                        <p>{{ route.route.arrival_time.time|time  }}</p>
                                    </div>
                                </div>
                                <div class="date_inf">
                                    <div class="departure_date">
                                        <p>{{ route.route.departure_time.date }}</p>
                                    </div>
                                    <div class="distance">
                                        <p>Расстояние {{ route.route.distance }} км</p>
                                    </div>
                                    <div class="arrival_date">
                                        <p>{{ route.route.arrival_time.date }}</p>
                                    </div>
                                </div>
                                <div class="address_block">
                                    <div class="origin_address">
                                        <p>{{ route.route.origin }}</p>
                                        <div class="address">
                                            {{ route.route.origin_address }}
                                        </div>
                                    </div>
                                    <div></div>
                                    <div class="line">
                                        <div class="square"></div>
                                        <div class="red_line"></div>
                                        <div class="strela"></div>
                                    </div>
                                    <div class="arrival_address">
                                        <p>{{ route.route.destination }}</p>
                                        <div class="address">
                                            <p>{{ route.route.destination_address }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="block_check">
                                    <div class="bus_info">
                                        <div class="brand_name">
                                            <p>Автобус - {{ route.bus.brand }}</p>
                                        </div>
                                        <div class="available_seats">
                                            {% if route.schedule.available_seats != 0 %}
                                                {% if route.schedule.available_seats < 6 %}
                                                    <p style="color: red;">Осталось {{ route.schedule.available_seats }} мест</p>
                                                {% else %}
                                                    <p style="color: green;">Больше {{ route.schedule.available_seats }} мест</p>
                                                {% endif %}
                                            {% else %}
                                                <p style="color: red;">Мест нет</p>
                                            {% endif %}
                                        </div>
                                        <div class="buy_block">
                                            <div class="price">
                                                <p>Цена - {{ route.schedule.price|spacecomma }} руб</p>
                                            </div>
                    
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="button">
                                    <a href="{% url 'bus_layout' route.schedule.id %}">Выбрать</a>
                                </div>
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="empty">
                    <img src="{% static 'images/search-empty.png' %}" alt="">
                    <div class="title_text_block_empty">
                        <h1>Билеты не найдены</h1>
                        <p>К сожалению, такого маршрута у нас нет. Мы делаем всё возможное, чтобы подключать как можно больше маршрутов. Возможно, он скоро появится.</p>
                    </div>
                    
                </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Получаем элементы полей "Откуда", "Куда" и "Дата поездки"
        const departureInput = document.querySelector('input[name="departure"]');
        const arrivalInput = document.querySelector('input[name="arrival"]');
        const dateInput = document.querySelector('input[name="date"]');

        // Задаем значения по умолчанию для полей
        const defaultDeparture = 'Казань';
        const defaultArrival = 'Москва';
        const defaultDate = getCurrentDate(); // Получаем текущую дату в формате "ГГГГ-ММ-ДД"
        console.log(departureInput.value);
        // Устанавливаем начальные значения полей
        if (departureInput.value == null) {
            departureInput.value = defaultDeparture;
        }
        if (arrivalInput.value == null) {
            arrivalInput.value = defaultArrival;
        }
        if (dateInput.value == null) {
            dateInput.value = defaultDate;
        }
        

        // Добавляем обработчики событий для поля "Откуда"
        departureInput.addEventListener('focus', function() {
            if (this.value === defaultDeparture) {
                this.value = ''; // Очищаем поле при фокусе
            }
        });

        departureInput.addEventListener('blur', function() {
            if (this.value === '') {
                this.value = defaultDeparture; // Восстанавливаем значение по умолчанию при потере фокуса
            }
        });

        // Добавляем обработчики событий для поля "Куда"
        arrivalInput.addEventListener('focus', function() {
            if (this.value === defaultArrival) {
                this.value = ''; // Очищаем поле при фокусе
            }
        });

        arrivalInput.addEventListener('blur', function() {
            if (this.value === '') {
                this.value = defaultArrival; // Восстанавливаем значение по умолчанию при потере фокуса
            }
        });

        // Добавляем обработчики событий для поля "Дата поездки"
        dateInput.addEventListener('focus', function() {
            if (this.value === defaultDate) {
                this.value = ''; // Очищаем поле при фокусе
            }
        });

        dateInput.addEventListener('blur', function() {
            if (this.value === '') {
                this.value = defaultDate; // Восстанавливаем значение по умолчанию при потере фокуса
            }
        });

        // Функция для получения текущей даты в формате "ГГГГ-ММ-ДД"
        function getCurrentDate() {
            const today = new Date();
            const year = today.getFullYear();
            const month = String(today.getMonth() + 1).padStart(2, '0'); // добавляем ведущий ноль для однозначного месяца
            const day = String(today.getDate()).padStart(2, '0'); // добавляем ведущий ноль для однозначного числа
            return `${year}-${month}-${day}`;
        }
    });
</script>


{% endblock %}
